@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Slab', serif;
    font-weight: bolder;
    background-color: #FCF8E8;
}
 
#show th, #show td{
	padding: 13px;
}

#fname, #lname, #email, #college, #btn {
    margin: 10px 0px 10px 0px;
    width: 30%;
    padding: 0.5rem;
    border-radius: 5px;
}

#btn {
        border: none;
        display: block;
        width: 30%;
        padding: 0.75rem;
        background-color: #94B49F;
        border-radius: 5px;
}